<!DOCTYPE html>
<html ng-app>
<head>
    <title>JavaScript &amp; jQuery - Chapter 9: APIs - Simple Angular Example</title>
    <link rel="stylesheet" href="css/css.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>

<body ng-app="app">

<div ng-controller="MainCtrl">
    <form>
        <input placeholder="Enter Name" ng-model="newContact"/>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="AddContact(newContact)"> Add</button>
    </form>
    <div ng-repeat="contacts in contacts track by $index">
        {{contact.name}}
    </div>
</div>

</body>
</html>